@import "_nullstyle";
/*---------------------------------------------------*/

body{
   
    background-color: #e8e8e8;
    margin: 30px;
    
}
$cr:rgb(252, 31, 241);

%linkborder{
    border-bottom: 10px dashed #0eff06;
    font-size: 20px;
    color: $cr;
}

.block {
p{
    margin: 30px;
}
    &__text {
        
    }
}
.link1 {
    @extend %linkborder;

}
.link2 {
    @extend %linkborder;
    
}