
@import "_nullstyle";
/*---------------------------------------------------*/


body{
	font-family: "Montserrat" ,sans-serif;
	background-color: #F5F5F5;
	margin: 30px;
}
.wrapper {

}

[class*="__container"] {
max-width: 1470px;
padding: 0 15px;
margin: 0 auto;
}

